<% title "Temas" %>
<div class="col-left single">
  <div class="post wrap">
    <div class="unique-features">
      <% if @themes.size > 0 %>
        <ul>
          <% @themes.each do |theme| %>
          <li>
              <% if theme.image %>
                <img width="80" height="80" alt="" src="<%= url_for theme.image.data.url(:thumb_t) %>"  class="alignnone size-full wp-image-5195" />
              <% end %>
            <br />

            <h3><%= theme.name %></h3>
            <p class="widget-links"><a href="<%= apply_theme_path(theme) %>" onclick="if (confirm('Esta seguro?')) { var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href; f.submit(); };return false;">Aplicar este tema a mi escritorio</a></p>
          </li>
          <% end %>
        </ul>
      <% else %>
        No existen resultados para su consulta.
      <% end %>
    </div>
    <%= will_paginate @themes, :separator => nil, :next_label => "»", :previous_label => "«" %>
  </div>
</div>
<div class="col-right blog" id="sidebar">

  <% if permitted_to? :create, Theme.new %>
    <div class="block widget" id="search_main">
      <p align="center"><a class="add-theme-btn" href="<%= url_for new_theme_path %>"></a></p>
      <br />
    </div>
  <% end %>
  
  <div class="block widget" id="search_main">
    <h3><span class="cufon cufon-canvas" style=
    "width: 57px; height: 16px;"><span class="cufon-alt">Buscar</span></span></h3>

    <form class="searchform" id="cse-search-box-footer" action="<%= url_for themes_path %>" name="cse-search-box-footer">
      <div>
        <input type="text" size="31" name="search[name_like]" class="field" />
      </div>
      <input type="image" value="Submit" src="/images/woo/btn-submit.png" name="sa" id="go" class="fr" />
    </form>
  </div>

  <div class="fix"></div>

  <div class="widget block widget_categories">
    <h3 class="widget_title">
      <span class="cufon cufon-canvas" style="width: 87px; height: 16px;"><span class="cufon-alt">Categorias</span></span>
    </h3>

    <ul class="recent">
      <% if logged_in? %>
        <li class="cat-item">
          <a title="Ver todos mis temas agregados" href="<%= url_for themes_path %>?search[user_id_equals]=<%= current_user.id %>">Mis Temas</a>
        </li>
      <% end %>
      <li class="cat-item">
        <a title="Ver todos los temas" href="<%= url_for themes_path %>">Todos</a>
      </li>
      <li class="cat-item">
        <a title="Ver todos los temas agregados recientemente" href="<%= url_for themes_path %>?search[order]=descend_by_id">M&aacute;s Recientes</a>
      </li>
      <% @categories.each do |cat| %>
        <li class="cat-item">
          <a title="Ver todos los temas de la categoria <%= h cat.name %>" href="<%= url_for themes_path %>?search[category_id_equals]=<%= cat.id %>"><%= h cat.name %></a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
</div>