<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title><%= h(yield(:title)) %></title>
		<%= stylesheet_link_tag 'application', 'master' %>
		<%= yield(:head) %>
	</head>
	<body>
		<div id="container">
			<div id="user_nav">
				<i>Hola, <b><%= logged_in? ? current_user.username : "Invitado" %></b> | </i>
				<%= link_to "Mi Escritorio", root_url %> |
				<%= link_to "Buscar Widget", widgets_path %> |
				<% if logged_in? %>
					<%= link_to "Editar Perfil", edit_user_path(current_user) %> |
					<%= link_to "Finalizar Sesi&oacute;n", logout_path %>
				<% else %>
					<%= link_to "Registrarse", new_user_path %> |
					<%= link_to "Iniciar Sesi&oacute;n", login_path %>
				<% end %>
			</div>

			<%- flash.each do |name, msg| -%>
				<%= content_tag :div, msg, :id => "flash_#{name}" %>
			<%- end -%>

			<%- if show_title? -%>
				<h1><%=h yield(:title) %></h1>
			<%- end -%>

			<%= yield %>
		</div>
	</body>
</html>